.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .aboutBox {
    width: 80%;
    background-color: #dfcbd0;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
  }
  
  .bodyImage {
    width: 40%;
    height: auto;
    margin-top: 20px;
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
  }
  
  .text {
    margin-left: 20px;
    text-align: justify; /* Update text alignment */
  }
  
  .l1,
  .l2,
  .body {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    text-align: justify; /* Update text alignment */
    margin-bottom: 10px;
  }
  
  .ourMissionBox {
    width: 80%;
    background-color: #dfcbd0;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    margin-top: -20px;
  }
  